---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <RateRequest xmlns="http://fedex.com/ws/rate/v10">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>xxx</Key>
              <Password>xxx</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>xxx</AccountNumber>
            <MeterNumber>xxx</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>crs</ServiceId>
            <Major>10</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <RequestedShipment>
            <DropoffType>REGULAR_PICKUP</DropoffType>
            <PackagingType>YOUR_PACKAGING</PackagingType>
            <Shipper>
              <Contact>
                <PersonName>Sender</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Harrison</City>
                <StateOrProvinceCode>AR</StateOrProvinceCode>
                <PostalCode>72601</PostalCode>
                <CountryCode>US</CountryCode>
              </Address>
            </Shipper>
            <Recipient>
              <Contact>
                <PersonName>Recipient</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Frankin Park</City>
                <StateOrProvinceCode>IL</StateOrProvinceCode>
                <PostalCode>60131</PostalCode>
                <CountryCode>US</CountryCode>
                <Residential>true</Residential>
              </Address>
            </Recipient>
            <ShippingChargesPayment>
              <PaymentType>SENDER</PaymentType>
              <Payor>
                <AccountNumber>xxx</AccountNumber>
                <CountryCode>US</CountryCode>
              </Payor>
            </ShippingChargesPayment>
            <RateRequestTypes>ACCOUNT</RateRequestTypes>
            <PackageCount>2</PackageCount>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>2</Value>
              </Weight>
              <Dimensions>
                <Length>10</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>6</Value>
              </Weight>
              <Dimensions>
                <Length>5</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
          </RequestedShipment>
        </RateRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 0b48f427-d660-4676-8fe0-21727e3985b9
      X-Csr-Elapsed-Millis:
      - '761'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v10"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>crs</Source><Code>0</Code><Message>Request
        was successfully processed. </Message><LocalizedMessage>Request was successfully
        processed. </LocalizedMessage></Notifications><Version><ServiceId>crs</ServiceId><Major>10</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DestinationAirportId>ORD</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>PM</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>10</RateScale><RateZone>4</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>0</DimDivisor><FuelSurchargePercent>7.0</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>8.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>207.99</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>207.99</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>19.18</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>227.17</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>227.17</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>227.17</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>5.72</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>13.46</Amount></Amount></Surcharges></ShipmentRateDetail></RatedShipmentDetails><RatedShipmentDetails><ShipmentRateDetail><RateType>RATED_ACCOUNT_PACKAGE</RateType><RateScale>10</RateScale><RateZone>4</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>A[...]
