---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <AddressValidationRequest xmlns="http://fedex.com/ws/addressvalidation/v2">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>xxx</Key>
              <Password>xxx</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>xxx</AccountNumber>
            <MeterNumber>xxx</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>aval</ServiceId>
            <Major>2</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <RequestTimestamp>2019-08-24T01:34:25+00:00</RequestTimestamp>
          <Options>
            <CheckResidentialStatus>true</CheckResidentialStatus>
          </Options>
          <AddressesToValidate>
            <Address>
              <StreetLines>5 Elm Street</StreetLines>
              <City>Norwalk</City>
              <StateOrProvinceCode>CT</StateOrProvinceCode>
              <PostalCode>06850</PostalCode>
              <CountryCode>USA</CountryCode>
            </Address>
          </AddressesToValidate>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - fb8db1b5-c9fa-4b1b-a52c-6c1ccdcee5b3
      X-Csr-Elapsed-Millis:
      - '451'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><AddressValidationReply xmlns="http://fedex.com/ws/addressvalidation/v2"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>wsi</Source></Notifications><TransactionDetail><Localization><LanguageCode/></Localization></TransactionDetail><Version><ServiceId>aval</ServiceId><Major>2</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><ReplyTimestamp>2019-08-23T20:34:27-05:00</ReplyTimestamp><AddressResults><AddressId/><ProposedAddressDetails><Score>100</Score><Changes>NO_CHANGES</Changes><ResidentialStatus>RESIDENTIAL</ResidentialStatus><DeliveryPointValidation>CONFIRMED</DeliveryPointValidation><Address><StreetLines>5
        ELM ST</StreetLines><City>NORWALK</City><StateOrProvinceCode>CT</StateOrProvinceCode><PostalCode>06850-3901</PostalCode><CountryCode>US</CountryCode></Address><RemovedNonAddressData/></ProposedAddressDetails></AddressResults></AddressValidationReply>
  recorded_at: Wed, 21 Aug 2019 10:11:20 GMT
recorded_with: VCR 5.0.0
