---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <RateRequest xmlns="http://fedex.com/ws/rate/v10">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>xxx</Key>
              <Password>xxx</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>xxx</AccountNumber>
            <MeterNumber>xxx</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>crs</ServiceId>
            <Major>10</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <RequestedShipment>
            <DropoffType>REGULAR_PICKUP</DropoffType>
            <ServiceType>FEDEX_GROUND</ServiceType>
            <PackagingType>YOUR_PACKAGING</PackagingType>
            <Shipper>
              <Contact>
                <PersonName>Sender</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Harrison</City>
                <StateOrProvinceCode>AR</StateOrProvinceCode>
                <PostalCode>72601</PostalCode>
                <CountryCode>US</CountryCode>
              </Address>
            </Shipper>
            <Recipient>
              <Contact>
                <PersonName>Recipient</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Address Line 1</StreetLines>
                <City>Richmond</City>
                <StateOrProvinceCode>BC</StateOrProvinceCode>
                <PostalCode>V7C4V4</PostalCode>
                <CountryCode>CA</CountryCode>
                <Residential>true</Residential>
              </Address>
            </Recipient>
            <ShippingChargesPayment>
              <PaymentType>SENDER</PaymentType>
              <Payor>
                <AccountNumber>xxx</AccountNumber>
                <CountryCode>US</CountryCode>
              </Payor>
            </ShippingChargesPayment>
            <RateRequestTypes>ACCOUNT</RateRequestTypes>
            <PackageCount>2</PackageCount>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>2</Value>
              </Weight>
              <Dimensions>
                <Length>10</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>6</Value>
              </Weight>
              <Dimensions>
                <Length>5</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
          </RequestedShipment>
        </RateRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 79f90b5d-14bd-4663-a00e-2619a3270b7f
      X-Csr-Elapsed-Millis:
      - '246'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v10"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>886</Code><Message>Money
        Back Guarantee is not eligible for this pick up/delivery postal/zip code.
        </Message><LocalizedMessage>Money Back Guarantee is not eligible for this
        pick up/delivery postal/zip code. </LocalizedMessage></Notifications><Version><ServiceId>crs</ServiceId><Major>10</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FEDEX_GROUND</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DestinationAirportId>YVR</DestinationAirportId><IneligibleForMoneyBackGuarantee>true</IneligibleForMoneyBackGuarantee><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateZone>51</RateZone><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>0</DimDivisor><FuelSurchargePercent>7.0</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>8.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>50.71</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>50.71</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>12.97</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>63.68</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>63.68</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>63.68</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Level>PACKAGE</Level><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>8.8</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Level>PACKAGE</Level><Description>FedEx
        Ground Fuel</Description><Amount><Currency>USD</Currency><Amount>4.17</Amount></Amount></Surcharges></ShipmentRateDetail><RatedPackages><GroupNumber>0</GroupNumber><PackageRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RatedWeightMethod>ACTUAL</RatedWeightMethod><BillingWeight><Units>LB</Units><Value>2.0</Value></BillingWeight><BaseCharge><Currency>USD</Currency><Amount>22.73</Amount></BaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><NetFreight><Currency>USD</Currency><Amount>22.73</Amount></NetFreight><TotalSurcharges><Currency>USD</Currency><Amount>6.3</Amount></TotalSurcharges><NetFedExCharge><Currency>USD</Currency><Amount>29.03</Amount></NetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><NetCharge><Currency>USD</Currency><Amount>29.03</Amount></NetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Level>PACKAGE</Level><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>4.4</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Level>PACKAGE</Level><Description>FedEx
        Ground Fuel</Description><Amount><Currency>USD</Currency><A[...]
